@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
}

<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        <span></span>
                        @using (Ajax.BeginForm("Setep9_5", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "loadingel",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnSuccess = "OnAjaxComplete(data)",
                        }, new { enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="wizard__errors">
                                    <div class="wizard__errors__error">@ViewBag.Error</div>
                                </div>
                            }
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(@ViewBag.progress);"></div>
                                </div>

                                <div class="wizard-step">
                                    <div class="print-pricing">
                                        <h1 class="animate-group-0-0">What types of prints do you want to sell?</h1>
                                        <p class="descriptor animate-group-0-1">
                                            The types and sizes available for this artwork are based on the file size you upload.
                                        </p>
                                        <div class="image-radio animate-group-0-2 print-pricing__print-type">
                                            <div style="display: none;">
                                                <select multiple="">
                                                    <option name="shippingType" value="rag">rag</option>
                                                    <option name="shippingType" value="photo">photo</option>
                                                    <option name="shippingType" value="canvas">canvas</option>
                                                </select>
                                            </div>
                                            <div>
                                                <div class="image-radio__item">
                                                    <div class="image-radio__item__image">
                                                        <div class="image-radio__item__image__elem">
                                                            <div class="cropped-image" style="width: 100%; height: 100%;">
                                                                <div class="cropped-image__canvas" style="overflow: hidden; width: 120.003px; height: 160px; position: relative;">
                                                                    <img alt="Crop preview" src="https://upload.saatchiart.com?img=1e0eb4843fe446ab126141d38b245ea1.jpg" style="width: 120.003px; height: 160.146px; max-width: none; max-height: none; left: 0px; top: -0.0731762px; position: absolute;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><div class="image-radio__item__name"><!-- react-text: 44 -->Fine Art Paper<!-- /react-text --></div>
                                                </div>
                                                <div class="image-radio__item">
                                                    <div class="image-radio__item__image">
                                                        <div class="image-radio__item__image__elem">
                                                            <div class="cropped-image" style="width: 100%; height: 100%;">
                                                                <div class="cropped-image__canvas" style="overflow: hidden; width: 120.003px; height: 160px; position: relative;">
                                                                    <img alt="Crop preview" src="https://upload.saatchiart.com?img=1e0eb4843fe446ab126141d38b245ea1.jpg" style="width: 120.003px; height: 160.146px; max-width: none; max-height: none; left: 0px; top: -0.0731762px; position: absolute;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="image-radio__item__name"><!-- react-text: 52 -->Photo Paper<!-- /react-text --></div>
                                                </div>
                                                <div class="image-radio__item">
                                                    <div class="image-radio__item__image">
                                                        <div class="image-radio__item__image__elem">
                                                            <div class="canvas-preview canvas-preview--dark"><div style="background-image: url(&quot;https://upload.saatchiart.com?img=1e0eb4843fe446ab126141d38b245ea1.jpg&quot;);"></div></div>
                                                        </div>
                                                    </div><div class="image-radio__item__name">
                                                        Canvas<!-- /react-text -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wizard-button wizard-button--left" onclick="callbackpage();"><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i><div class="wizard-button__text"><span>@UploadRes.step10_pre_click</span></div></div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click();"><div class="wizard-button__text"><span>@UploadRes.step10_next_click</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></div>
                                <div class="mobile-status-bar">
                                    <span><button type="button" onclick="callbackpage();" class="mobile-status-bar__nav mobile-status-bar__nav--left"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i></button></span>
                                    <span><button type="button" onclick="$('#submit').click(); $('#submit').attr('id', 'dontwork');" class="mobile-status-bar__nav mobile-status-bar__nav--right"><i><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve"><g><g><polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon></g></g></svg></i></button></span><div class="progress-component mobile-status-bar__progress"><div class="progress-component__inner" style="transform: translateX(0px);"></div></div><span></span>
                                </div>
                                <div id="loadingel" hidden style="background:rgba(255, 255, 255, 0.8);position:absolute;top:0;left:0;right:0;bottom:0;z-index:2">
                                    <i class="fa fa-spinner fa-spin" style="position:absolute;top:45%;left:47%;font-size:40px"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
