
<div id="upload">
    <div data-reactroot="">
        <div class="app">
            <div class="full-bleed full-bleed--background" style="background-color:#f3f3f3">
                <div class="container artwork__container">
                    <span></span>
                    <div class="new-page">
                        @using (Ajax.BeginForm("Setep9", "Upload", null, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "updatediv",
                            LoadingElementId = "submit_spin",
                            OnBegin = "$('#submit_btn').attr('disabled', 'disabled');",
                            OnComplete = " $('#submit_btn').removeAttr('disabled', 'disabled');",
                        }, new { enctype = "multipart/form-data" }))
                        {

                            <span></span>
                            <div class="new-page__content pane pane--padded pane--centered pane--full">
                                <div class="progress-component wizard-progress">
                                    <div class="progress-component__inner" style="transform: translateX(657.778px);"></div>
                                </div>
                                <div class="wizard-step">
                                    <div class="shipping">
                                        <h1 class="animate-group-0-0">Shipping</h1>
                                        <p class="descriptor animate-group-0-1">
                                            <!-- react-text: 140 -->Enter the shipping weight of your artwork<!-- /react-text --><a href="https://support.saatchiart.com/hc/en-us/articles/205797498" class="small-link block" target="_blank">See FAQ for instructions</a>
                                        </p>
                                        <div class="form-group shipping__artwork-weight animate-group-0-2 shipping__artwork-weight--artwork-only">
                                            <div class="shipping__artwork-weight__weight label-under-group">
                                                <input type="number" class="" id="art_weight" min="0">
                                                <div class="react-tooltip" style="bottom: 60px;">
                                                    <div class="react-tooltip__text">For an artwork your size, the shipping weight may be between 5 and 10 pounds. Please adjust up or down as needed for your artwork.</div>
                                                </div>
                                                <label for="art_weight" class="">pounds</label>
                                            </div>
                                        </div>
                                        <h1 class="animate-group-1-0">Shipping Address</h1>
                                        <p class="descriptor animate-group-1-1">Tell us where your artwork will&nbsp;be&nbsp;picked&nbsp;up</p>
                                        <div class="form-group form-group--block">
                                            <div>
                                                <div class="input-container text-left animate-group-1-1"><label class="block">Street Address</label><input type="text" value="" maxlength="35" class=""></div>
                                                <div class="input-container text-left animate-group-1-2"><label class="block">Address 2</label><input type="text" value="" maxlength="35" class=""></div>
                                                <div class="input-container text-left animate-group-1-3"><label class="block">City</label><input type="text" value="" class=""></div>
                                                <div class="input-container text-left animate-group-1-4 z-index-fix-0">
                                                    <label class="block">Country</label>
                                                    <select class="animate-group-0-1 category__subject rw-combobox rw-widget">
                                                        <option>United States</option>
                                                        <option>Afghanistan</option>
                                                        <option>Aland Islands</option>
                                                        <option>Albania</option>
                                                        <option>Algeria</option>
                                                        <option>American Samoa</option>
                                                        <option>Andorra</option>
                                                        <option>Angola</option>
                                                        <option>Anguilla</option>
                                                        <option>Antarctica</option>
                                                        <option>Antigua and Barbuda</option>
                                                        <option>Argentina</option>
                                                        <option>Armenia</option>
                                                        <option>Aruba</option>
                                                        <option>Austraoptiona</option>
                                                        <option>Austria</option>
                                                        <option>Azerbaijan</option>
                                                        <option>Bahamas</option>
                                                        <option>Bahrain</option>
                                                        <option>Bangladesh</option>
                                                        <option>Barbados</option>
                                                        <option>Belarus</option>
                                                        <option>Belgium</option>
                                                        <option>Beoptionze</option>
                                                        <option>Benin</option>
                                                        <option>Bermuda</option>
                                                        <option>Bhutan</option>
                                                        <option>Booptionvia</option>
                                                        <option>Bonaire</option>
                                                        <option>Bosnia and Herzegovina</option>
                                                        <option>Botswana</option>
                                                        <option>Bouvet Island</option>
                                                        <option>Brazil</option>
                                                        <option>British Indian Ocean Territory</option>
                                                        <option>British Virgin Islands</option>
                                                        <option>Brunei</option>
                                                        <option>Bulgaria</option>
                                                        <option>Burkina Faso</option>
                                                        <option>Burundi</option>
                                                        <option>Cambodia</option>
                                                        <option>Cameroon</option>
                                                        <option>Canada</option>
                                                        <option>Cape Verde</option>
                                                        <option>Cayman Islands</option>
                                                        <option>Central African Repuboptionc</option>
                                                        <option>Chad</option>
                                                        <option>Chile</option>
                                                        <option>China</option>
                                                        <option>Christmas Island</option>
                                                        <option>Cocos Islands</option>
                                                        <option>Colombia</option>
                                                        <option>Comoros</option>
                                                        <option>Cook Islands</option>
                                                        <option>Costa Rica</option>
                                                        <option>Croatia</option>
                                                        <option>Cuba</option>
                                                        <option>Curaçao</option>
                                                        <option>Cyprus</option>
                                                        <option>Czech Repuboptionc</option>
                                                        <option>Democratic Repuboptionc of the Congo</option>
                                                        <option>Denmark</option>
                                                        <option>Djibouti</option>
                                                        <option>Dominica</option>
                                                        <option>Dominican Repuboptionc</option>
                                                        <option>East Timor</option>
                                                        <option>Ecuador</option>
                                                        <option>Egypt</option>
                                                        <option>El Salvador</option>
                                                        <option>Equatorial Guinea</option>
                                                        <option>Eritrea</option>
                                                        <option>Estonia</option>
                                                        <option>Ethiopia</option>
                                                        <option>Falkland Islands</option>
                                                        <option>Faroe Islands</option>
                                                        <option>Fiji</option>
                                                        <option>Finland</option>
                                                        <option>France</option>
                                                        <option>French Guiana</option>
                                                        <option>French Polynesia</option>
                                                        <option>French Southern Territories</option>
                                                        <option>Gabon</option>
                                                        <option>Gambia</option>
                                                        <option>Georgia</option>
                                                        <option>Germany</option>
                                                        <option>Ghana</option>
                                                        <option>Gibraltar</option>
                                                        <option>Greece</option>
                                                        <option>Greenland</option>
                                                        <option>Grenada</option>
                                                        <option>Guadeloupe</option>
                                                        <option>Guam</option>
                                                        <option>Guatemala</option>
                                                        <option>Guernsey</option>
                                                        <option>Guinea</option>
                                                        <option>Guinea-Bissau</option>
                                                        <option>Guyana</option>
                                                        <option>Haiti</option>
                                                        <option>Heard Island and McDonald Islands</option>
                                                        <option>Honduras</option>
                                                        <option>Hong Kong</option>
                                                        <option>Hungary</option>
                                                        <option>Iceland</option>
                                                        <option>India</option>
                                                        <option>Indonesia</option>
                                                        <option>Iran</option>
                                                        <option>Iraq</option>
                                                        <option>Ireland</option>
                                                        <option>Isle of Man</option>
                                                        <option>Israel</option>
                                                        <option>Italy</option>
                                                        <option>Ivory Coast</option>
                                                        <option>Jamaica</option>
                                                        <option>Japan</option>
                                                        <option>Jersey</option>
                                                        <option>Jordan</option>
                                                        <option>Kazakhstan</option>
                                                        <option>Kenya</option>
                                                        <option>Kiribati</option>
                                                        <option>Kosovo</option>
                                                        <option>Kuwait</option>
                                                        <option>Kyrgyzstan</option>
                                                        <option>Laos</option>
                                                        <option>Latvia</option>
                                                        <option>Lebanon</option>
                                                        <option>Lesotho</option>
                                                        <option>optionberia</option>
                                                        <option>optionbya</option>
                                                        <option>optionechtenstein</option>
                                                        <option>optionthuania</option>
                                                        <option>Luxembourg</option>
                                                        <option>Macao</option>
                                                        <option>Macedonia</option>
                                                        <option>Madagascar</option>
                                                        <option>Malawi</option>
                                                        <option>Malaysia</option>
                                                        <option>Maldives</option>
                                                        <option>Maoption</option>
                                                        <option>Malta</option>
                                                        <option>Marshall Islands</option>
                                                        <option>Martinique</option>
                                                        <option>Mauritania</option>
                                                        <option>Mauritius</option>
                                                        <option>Mayotte</option>
                                                        <option>Mexico</option>
                                                        <option>Micronesia</option>
                                                        <option>Moldova</option>
                                                        <option>Monaco</option>
                                                        <option>Mongooptiona</option>
                                                        <option>Montenegro</option>
                                                        <option>Montserrat</option>
                                                        <option>Morocco</option>
                                                        <option>Mozambique</option>
                                                        <option>Myanmar</option>
                                                        <option>Namibia</option>
                                                        <option>Nauru</option>
                                                        <option>Nepal</option>
                                                        <option>Netherlands</option>
                                                        <option>Netherlands Antilles</option>
                                                        <option>New Caledonia</option>
                                                        <option>New Zealand</option>
                                                        <option>Nicaragua</option>
                                                        <option>Niger</option>
                                                        <option>Nigeria</option>
                                                        <option>Niue</option>
                                                        <option>Norfolk Island</option>
                                                        <option>North Korea</option>
                                                        <option>Northern Mariana Islands</option>
                                                        <option>Norway</option>
                                                        <option>Oman</option>
                                                        <option>Pakistan</option>
                                                        <option>Palau</option>
                                                        <option>Palestinian Territory</option>
                                                        <option>Panama</option>
                                                        <option>Papua New Guinea</option>
                                                        <option>Paraguay</option>
                                                        <option>Peru</option>
                                                        <option>Phioptionppines</option>
                                                        <option>Pitcairn</option>
                                                        <option>Poland</option>
                                                        <option>Portugal</option>
                                                        <option>Puerto Rico</option>
                                                        <option>Qatar</option>
                                                        <option>Repuboptionc of the Congo</option>
                                                        <option>Reunion</option>
                                                        <option>Romania</option>
                                                        <option>Russia</option>
                                                        <option>Rwanda</option>
                                                        <option>Saint Barthalemy</option>
                                                        <option>Saint Helena</option>
                                                        <option>Saint Kitts and Nevis</option>
                                                        <option>Saint Lucia</option>
                                                        <option>Saint Martin</option>
                                                        <option>Saint Pierre and Miquelon</option>
                                                        <option>Saint Vincent and the Grenadines</option>
                                                        <option>Samoa</option>
                                                        <option>San Marino</option>
                                                        <option>Sao Tome and Principe</option>
                                                        <option>Saudi Arabia</option>
                                                        <option>Senegal</option>
                                                        <option>Serbia</option>
                                                        <option>Seychelles</option>
                                                        <option>Sierra Leone</option>
                                                        <option>Singapore</option>
                                                        <option>Sint Maarten</option>
                                                        <option>Slovakia</option>
                                                        <option>Slovenia</option>
                                                        <option>Solomon Islands</option>
                                                        <option>Somaoptiona</option>
                                                        <option>South Africa</option>
                                                        <option>South Georgia and the South Sandwich Islands</option>
                                                        <option>South Korea</option>
                                                        <option>South Sudan</option>
                                                        <option>Spain</option>
                                                        <option>Sri Lanka</option>
                                                        <option>Sudan</option>
                                                        <option>Suriname</option>
                                                        <option>Svalbard and Jan Mayen</option>
                                                        <option>Swaziland</option>
                                                        <option>Sweden</option>
                                                        <option>Switzerland</option>
                                                        <option>Syria</option>
                                                        <option>Taiwan</option>
                                                        <option>Tajikistan</option>
                                                        <option>Tanzania</option>
                                                        <option>Thailand</option>
                                                        <option>Togo</option>
                                                        <option>Tokelau</option>
                                                        <option>Tonga</option>
                                                        <option>Trinidad and Tobago</option>
                                                        <option>Tunisia</option>
                                                        <option>Turkey</option>
                                                        <option>Turkmenistan</option>
                                                        <option>Turks and Caicos Islands</option>
                                                        <option>Tuvalu</option>
                                                        <option>U.S. Virgin Islands</option>
                                                        <option>Uganda</option>
                                                        <option>Ukraine</option>
                                                        <option>United Arab Emirates</option>
                                                        <option>United Kingdom</option>
                                                        <option>United States Minor Outlying Islands</option>
                                                        <option>Uruguay</option>
                                                        <option>Uzbekistan</option>
                                                        <option>Vanuatu</option>
                                                        <option>Vatican</option>
                                                        <option>Venezuela</option>
                                                        <option>Vietnam</option>
                                                        <option>Waloptions and Futuna</option>
                                                        <option>Western Sahara</option>
                                                        <option>Yemen</option>
                                                        <option>Zambia</option>
                                                        <option>Zimbabwe</option>
                                                    </select>
                                                </div>
                                                <div class="input-container text-left animate-group-1-5"><label class="block">Region</label><input type="text" value="" class=""></div>
                                                <div class="input-container text-left animate-group-1-6"><label class="block">Zip/Postal Code</label><input type="text" value="" class=""></div>
                                                <div class="input-container text-left animate-group-1-7"><label class="block">Phone Number</label><input type="text" class=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-button wizard-button--left" onclick="callbackpage();"><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i><div class="wizard-button__text"><span>Packaging</span></div></div>
                                <button type="submit" hidden id="submit"></button>
                                <div class="wizard-button wizard-button--right" onclick="$('#submit').click();">
                                    <div class="wizard-button__text"><span>Pricing</span></div><i class="wizard-button__icon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve"><g><g><polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon></g></g></svg></i>
                                </div>
                                <div class="mobile-status-bar">
                                    <span>
                                        <button class="mobile-status-bar__nav mobile-status-bar__nav--left">
                                            <i>
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" style="enable-background:new 0 0 215 370.8;" xml:space="preserve">
                                                <g>
                                                <g>
                                                <polygon points="215,24.8 190.9,0 0,185.4 190.9,370.8 215,346 49.7,185.4 "></polygon>
                                       </g>
                                    </g>
                                 </svg>
                                            </i>
                                        </button>
                                    </span>
                                    <span>
                                        <button class="mobile-status-bar__nav mobile-status-bar__nav--right">
                                            <i>
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215 370.8" enable-background="new 0 0 215 370.8" xml:space="preserve">
                                                <g>
                                                <g>
                                                <polygon points="0,346 24.1,370.8 215,185.4 24.1,0 0,24.9 165.3,185.4 "></polygon>
                                       </g>
                                    </g>
                                 </svg>
                                            </i>
                                        </button>
                                    </span>
                                    <div class="progress-component mobile-status-bar__progress">
                                        <div class="progress-component__inner" style="transform: translateX(0px);"></div>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        function callbackpage() {
        $.ajax({
            type: 'get',
            url: '/upload/Setep8',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#updatediv').html(data);
            },
            error: function (data) {

            }
        });
    }

</script>