
@{
    ViewBag.Title = "Checkout";
}





@{
    Layout = null;
}

@model ShoppingCartViewModel
@using DataLayer.Extentions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Art Shopping Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Artiscovery is the best place to buy artwork online. Find the perfect original paintings, fine art photographs and more from the largest selection of original art in the world." />
    <meta name="keywords" content="affordable art, art dealers, art for sale, art original,art websites, buy art, buy art online, buy original art, buy paintings,buy paintings online, canvas wall art, contemporary abstract art,contemporary art, contemporary arts, contemporary oil paintings, fine art,fine art photography, fine art photography for sale, framed art,home decor wall art, modern art, modern art paintings, office interior design,online art, online art gallery, original art, original art for sale, original painting,collage, drawings, pencil drawings, printmaking for sale, london artists, la artists, nyc artists, australia artists, uk artists, german artists,interior design help, nude photography, nude art, abstract art" />


    <link rel="stylesheet" href="https://www.saatchiart.com/build/css/app-6d00ab08f8841479f5fb9520e2a7d990.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
</head>
<body>

    <div id="checkout-app-container">
        <div data-reactroot="">
            <div class="checkout">
                <header class="checkout__header">
                    <div class="container">
                        <div class="checkout__header__container"><div class="checkout__header__logo checkout__header__logo--large"><a href="/"><img alt="Artiscovery" style="width:200px;height:29px" src="~/Content/Images/logo.png"></a></div><div class="checkout__header__logo checkout__header__logo--small"><a href="/"><img alt="Artiscovery" src="~/Content/Images/logo.png"></a></div><nav class="checkout__breadcrumb"><a class="checkout__breadcrumb__item checkout__breadcrumb__item--active" href="/checkout"><!-- react-text: 15 -->1<!-- /react-text --><!-- react-text: 16 -->. <!-- /react-text --><!-- react-text: 17 -->Cart<!-- /react-text --></a><a class="checkout__breadcrumb__item"><!-- react-text: 19 -->2<!-- /react-text --><!-- react-text: 20 -->. <!-- /react-text --><!-- react-text: 21 -->Checkout<!-- /react-text --></a><a class="checkout__breadcrumb__item"><!-- react-text: 23 -->3<!-- /react-text --><!-- react-text: 24 -->. <!-- /react-text --><!-- react-text: 25 -->Review<!-- /react-text --></a></nav></div>
                    </div>
                </header>
                <section class="checkout__container">
                    <div class="container">
                        <nav class="checkout__breadcrumb" style="padding:10px">
                            <a class="checkout__breadcrumb__item checkout__breadcrumb__item--active" href="/checkout">
                                <!-- react-text: 30 -->1<!-- /react-text --><!-- react-text: 31 -->. <!-- /react-text --><!-- react-text: 32 -->Cart<!-- /react-text -->
                            </a>
                            <a class="checkout__breadcrumb__item">
                                <!-- react-text: 34 -->2<!-- /react-text --><!-- react-text: 35 -->. <!-- /react-text --><!-- react-text: 36 -->Checkout<!-- /react-text -->
                            </a>
                            <a class="checkout__breadcrumb__item">
                                <!-- react-text: 38 -->3<!-- /react-text --><!-- react-text: 39 -->. <!-- /react-text --><!-- react-text: 40 -->Review<!-- /react-text -->
                            </a>
                        </nav>
                        <div></div>
                        <div>
                            <!-- react-empty: 43 -->
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <div>
                                        <div class="cart checkout__content-section">
                                            <h1>Check Info</h1>
                                            <div class="cart__items">

                                                <div class="form">
                                                    <div class="input-group">
                                                        <div class="input-with-placeholder">
                                                            <label for="input-with-place-holder-9" class="input-with-placeholder__label">First Name</label>
                                                            <input type="text" placeholder="" name="firstName" value="" class="input-with-placeholder__input " id="input-with-place-holder-9">
                                                        </div>
                                                        <div class="input-with-placeholder">
                                                            <label for="input-with-place-holder-10" class="input-with-placeholder__label">Last Name</label>
                                                            <input type="text" placeholder="" name="lastName" value="" class="input-with-placeholder__input " id="input-with-place-holder-10">
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="fa fa-map-marker input-group__icon input-group__icon--right" aria-hidden="true"></span>
                                                        <div class="input-with-placeholder">
                                                            <label for="input-with-place-holder-11" class="input-with-placeholder__label">Address</label>
                                                            <input type="text" placeholder="" value="" name="address1" class="input-with-placeholder__input " id="input-with-place-holder-11" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <input type="text" name="address1" placeholder="Address" style="position: absolute; pointer-events: none; opacity: 0;">
                                                    <div class="input-group-container" style="display: block;">
                                                        <div class="input-group">
                                                            <select name="country" placeholder="Country">

                                                                @foreach (var item in ArtShop.Util.CashManager.Instance.Countries)
                                                                {
                                                                    <option value="@item.Value">@item.Value</option>
                                                                }
                                                              
                                                            </select>
                                                            <div class="input-with-placeholder">
                                                                <label for="input-with-place-holder-13" class="input-with-placeholder__label">City</label>
                                                                <input type="text" placeholder="" value="" name="city" class="input-with-placeholder__input " id="input-with-place-holder-13">
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <div class="input-with-placeholder">
                                                                <label for="input-with-place-holder-14" class="input-with-placeholder__label">Zip / Postal Code</label>
                                                                <input type="text" placeholder="" value="" name="postalCode" class="input-with-placeholder__input " id="input-with-place-holder-14">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-with-placeholder">
                                                            <label for="input-with-place-holder-15" class="input-with-placeholder__label">Phone</label>
                                                            <input type="tel" value="" name="phoneNumber" placeholder="" class="input-with-placeholder__input " id="input-with-place-holder-15">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr>

                                            <div class="cart__total">
                                                <div class="cart__total__inner">
                                                    <div class="cart__total__row">
                                                        <div>Subtotal</div>
                                                        <div>$Model.CartTotal</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <a class="step-submission-button" href="/Card/pay">Checkout</a>
                                            <div class="loading-block"></div>
                                        </div>
                                        <footer class="checkout__footer">
                                            <div>
                                                <span>
                                                    <!-- react-text: 2223 -->© <!-- /react-text --><!-- react-text: 2224 -->2017<!-- /react-text --><!-- react-text: 2225 --> Saatchi Online, Inc. Leaf Group Commerce. All rights reserved. <!-- /react-text --><!-- react-text: 2226 --> <!-- /react-text -->
                                                </span>
                                                <span class="checkout__footer__support">
                                                    <!-- react-text: 2228 -->Need&nbsp;help?&nbsp;Contact&nbsp;us&nbsp;at&nbsp;<!-- /react-text --><a href="mailto:support@saatchiart.com">support@saatchiart.com</a>
                                                </span>
                                            </div>
                                            <div>
                                                <a href="/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a><!-- react-text: 2232 --> |&nbsp;<!-- /react-text --><a href="/copyright" target="_blank" rel="noopener noreferrer">Copyright Policy</a><!-- react-text: 2234 --> |&nbsp;<!-- /react-text --><a href="/terms" target="_blank" rel="noopener noreferrer">Terms And Conditions</a>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="checkout__sidebar">
                                        <div class="checkout__sidebar__value-props">
                                            <div>
                                                <span class="fa fa-check"></span><!-- react-text: 2241 --> Shipping Included On Original Art<!-- /react-text -->
                                            </div>
                                            <div>
                                                <span class="fa fa-check"></span><!-- react-text: 2244 --> 7-Day Money-Back Guarantee<!-- /react-text -->
                                            </div>
                                            <div>
                                                <span class="fa fa-lock"></span><!-- react-text: 2247 --> Safe &amp; Secure Shopping<!-- /react-text -->
                                            </div>
                                            <div><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span> 5-Star Trust Pilot Rating</span></div>
                                        </div>
                                        <div class="checkout__sidebar__quote">
                                            <span class="checkout__sidebar__quote__quote">
                                                "Service as beautiful as the art they sell...Saatchi facilitated the deal and worked
                                                extremely hard to make sure I received a deal I was happy with and could afford.
                                                They've found a life long customer in me!"
                                            </span><!-- react-text: 2257 -->—<!-- /react-text --><span class="checkout__sidebar__quote__author">David B, Wilmington, DE, USA</span>
                                        </div>
                                        <hr>
                                        <div class="checkout__sidebar__payment-methods">
                                            <h5>Payment Methods</h5>
                                            <div class="checkout__sidebar__payment-methods__icons"><img alt="Visa" src="//d3t95n9c6zzriw.cloudfront.net/checkout/visa.svg"><img alt="Mastercard" src="//d3t95n9c6zzriw.cloudfront.net/checkout/mastercard.svg"><img alt="Discover" src="//d3t95n9c6zzriw.cloudfront.net/checkout/discover.svg"><img alt="Amex" src="//d3t95n9c6zzriw.cloudfront.net/checkout/amex.svg"><img alt="JCB" src="//d3t95n9c6zzriw.cloudfront.net/checkout/jcb.svg"><img alt="Diners Club" src="//d3t95n9c6zzriw.cloudfront.net/checkout/diners.svg"><img alt="Paypal" src="//d3t95n9c6zzriw.cloudfront.net/checkout/paypal.svg"></div>
                                        </div>
                                        <hr>
                                        <div class="checkout__sidebar__two-column">
                                            <div>
                                                <div class="checkout__sidebar__shipping-providers">
                                                    <h5>Delivery Partners</h5>
                                                    <div class="checkout__sidebar__shipping-providers__icons"><img alt="DHL" src="//d3t95n9c6zzriw.cloudfront.net/checkout/dhl-square.svg"><img alt="UPS" src="//d3t95n9c6zzriw.cloudfront.net/checkout/ups-square.svg"><img alt="FedEx" src="//d3t95n9c6zzriw.cloudfront.net/checkout/fedex-square.svg"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="checkout__sidebar__security-indicator">
                                                    <h5>Secure Transaction</h5>
                                                    <img alt="Secured By Rapid SSL" src="//d3t95n9c6zzriw.cloudfront.net/checkout/rapidssl.gif">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="checkout__footer checkout__footer--mobile">
                            <div>
                                <span>
                                    <!-- react-text: 2286 -->© <!-- /react-text --><!-- react-text: 2287 -->2017<!-- /react-text --><!-- react-text: 2288 --> Saatchi Online, Inc. Leaf Group Commerce. All rights reserved. <!-- /react-text --><!-- react-text: 2289 --> <!-- /react-text -->
                                </span>
                                <span class="checkout__footer__support">
                                    <!-- react-text: 2291 -->Need&nbsp;help?&nbsp;Contact&nbsp;us&nbsp;at&nbsp;<!-- /react-text --><a href="mailto:support@saatchiart.com">support@saatchiart.com</a>
                                </span>
                            </div>
                            <div>
                                <a href="/privacy" target="_blank" rel="noopener noreferrer">Privacy Policy</a><!-- react-text: 2295 --> |&nbsp;<!-- /react-text --><a href="/copyright" target="_blank" rel="noopener noreferrer">Copyright Policy</a><!-- react-text: 2297 --> |&nbsp;<!-- /react-text --><a href="/terms" target="_blank" rel="noopener noreferrer">Terms And Conditions</a>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </div>
    </div>

</body>
</html>
