<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle small sidebar menu -->
        <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
            <i class="icon-grid"></i>
        </a>
        <!-- /toggle small sidebar menu -->
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="rtl">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>پنل مدیریت</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo">R</a>
        <!-- /logo -->
    </div>
    <ul class="quick-launch-apps hide">
        <li>
            <a>
                <span class="app-icon bg-danger text-white">
                    T
                </span>
                <span class="app-title">توسعه</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-success text-white">
                    A
                </span>
                <span class="app-title">آینده</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-primary text-white">
                    M
                </span>
                <span class="app-title">مجازی</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-info text-white">
                    A
                </span>
                <span class="app-title">آرنا</span>
            </a>
        </li>
    </ul>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">

            <li class="menu-accordion">
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/FirstPageSettings/header">
                    <i class="fa fa-desktop"></i>
                    <span>صفحه اصلی</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/Users">
                    <i class="fa fa-users"></i>
                    <span> کاربران</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/Categories">
                    <i class="fa fa-paperclip"></i>
                    <span>دسته بندی ها</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/ProductTypes/IndexStyles">
                    <i class="fa fa-tint"></i>
                    <span>نوع محصولات</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/Products">
                    <i class="fa fa-plus-circle"></i>
                    <span>محصولات</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/languages">
                    <i class="fa fa-language"></i>
                    <span> پارامتر ها</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/ImageServers">
                    <i class="fa fa-server"></i>
                    <span> سرور ها</span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/pages/index">
                    <i class="fa fa-pencil"></i>
                    <span> صفحات سایت </span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/payouts/index">
                    <i class="fa fa-list"></i>
                    <span> درخواست های تسویه </span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/visitrequests/index">
                    <i class="fa fa-eye"></i>
                    <span> درخواست های بازدید </span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/orders/index">
                    <i class="fa fa-list"></i>
                    <span> سفارشات </span>
                </a>
            </li>
            <li class="menu-accordion">
                <a href="/auction/auctionInfo">
                    <i class="fa fa-list"></i>
                    <span> حراجی ها </span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/MobileHomePage/index">
                    <i class="fa fa-phone"></i>
                    <span> اپلیکیشن </span>
                </a>
            </li>

            <li class="menu-accordion">
                <a href="/UserVerifications/index">
                    <i class="fa fa-list"></i>
                    <span> تایید کاربران </span>
                </a>
            </li>
            <li class="menu-accordion">
                <a href="#">
                    <i class="fa fa-support"></i>
                    <span> پشتیبانی </span>
                </a>                
                <ul class="sub-menu">
                    <li >
                        <a href="/Article/index">
                            <span> مقالات </span>
                        </a>
                    </li>
                    <li >
                        <a href="/supportCategories/index">
                            <span> دسته بندی  </span>
                        </a>
                    </li>
                    <li >
                        <a href="/supportSubCategories/index">
                            <span> زیر دسته بندی  </span>
                        </a>
                    </li>
                </ul>
            </li>
    

            <li class="menu-accordion">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span> گزارشات  *</span>
                </a>
            </li>
>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>