<div class="sidebar-panel offscreen-left">
    <div class="brand">
        <!-- toggle small sidebar menu -->
        <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
            <i class="icon-grid"></i>
        </a>
        <!-- /toggle small sidebar menu -->
        <!-- toggle offscreen menu -->
        <div class="toggle-offscreen">
            <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="rtl">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <span>پنل مدیریت</span>
        </a>
        <a href="#" class="small-menu-visible brand-logo">R</a>
        <!-- /logo -->
    </div>
    <ul class="quick-launch-apps hide">
        <li>
            <a>
                <span class="app-icon bg-danger text-white">
                    T
                </span>
                <span class="app-title">توسعه</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-success text-white">
                    A
                </span>
                <span class="app-title">آینده</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-primary text-white">
                    M
                </span>
                <span class="app-title">مجازی</span>
            </a>
        </li>
        <li>
            <a>
                <span class="app-icon bg-info text-white">
                    A
                </span>
                <span class="app-title">آرنا</span>
            </a>
        </li>
    </ul>
    <!-- main navigation -->
    <nav role="navigation">
        <ul class="nav">

            <li>
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li>
                <a href="/FirstPageSettings">
                    <i class="fa fa-desktop"></i>
                    <span>صفحه اصلی</span>
                </a>
            </li>

            <li>
                <a href="/Users">
                    <i class="fa fa-users"></i>
                    <span> کاربران</span>
                </a>
            </li>

            <li>
                <a href="/Categories">
                    <i class="fa fa-paperclip"></i>
                    <span>دسته بندی ها</span>
                </a>
            </li>

            <li>
                <a href="/ProductTypes/IndexStyles">
                    <i class="fa fa-eye"></i>
                    <span>نوع محصولات</span>
                </a>
            </li>

            <li>
                <a href="/Products">
                    <i class="fa fa-plus-circle"></i>
                    <span>محصولات</span>
                </a>
            </li>

            <li>
                <a href="/languages">
                    <i class="fa fa-language"></i>
                    <span> پارامتر ها</span>
                </a>
            </li>

            <li>
                <a href="/ImageServers">
                    <i class="fa fa-server"></i>
                    <span> سرور ها</span>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /main navigation -->
</div>