<nav class="user-nav">
    <div class="logo">
        <a title="Artiscovery" href="http://www.Artiscovery.com">
            <img style="height:auto;image-rendering:-webkit-optimize-contrast"src="~/Content/Images/logo.png" alt="Logo">
        </a>
    </div>
    <a class="login" data-auth-action="signin" role="button" href="">Sign in</a>

    <a class="my-activities" href="/hc/en-us/requests">My activities</a>

</nav>
<header class="header" id="rotating-images" style="background-image: url(&quot;//p5.zdassets.com/hc/theme_assets/694809/200075888/img-1281-newton-scheufler-hero.jpg&quot;);">
    <div class="header-inner">
        <form role="search" class="search" data-search="" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Have a Question? Ask or enter a search term here." aria-label="Search">
            <input type="submit" name="commit" value="Search">
        </form>
    </div>

</header>
