<main role="main">
    <!--MAIN SECTION-->
    <section class="main-section">
        <div class="wrapper">
            <div class="topic-title-bar">
                <h1>Artist's Handbook</h1>
                <p>
                    Are you a buyer?
                    <a href="https://Artiscovery.com/support/buyers">
                        Click here
                    </a>
                    to view Buyer FAQs
                </p>
            </div>
            <div class="topic-list">
                <a href="https://https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_start.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Getting Started </h3>
                        <p>Your step-by-step checklist for getting set up to sell your artworks on Artiscovery.  </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_upload.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Upload Your Artwork</h3>
                        <p>How to’s and best practices for uploading, editing and deleting your artworks.  </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_shipping.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Packaging &amp; Shipping</h3>
                        <p>Expert tips on how to fulfill a sale, correctly package your artworks and handle shipping insurance. </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_payments.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Payments</h3>
                        <p>The ins and outs of geting paid on Artiscovery, taxes, and how promotional discounts work.  </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_manage_acct.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Managing Your Account</h3>
                        <p>Helpful instructions for creating and managing your artist account on Artiscovery.  </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_manage_art.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Managing Your Artworks</h3>
                        <p>Advice and tutorials for successfully photographing and pricing your artworks, as well as optimizing your portfolio.   </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_branding.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Branding &amp; Marketing</h3>
                        <p>Sharing and promoting your art with the Artiscovery community and beyond, plus tips for SEO, social media and getting featured.</p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href=" https//support.saatchiart.com/hc/en-us/articles/115003373067" class="topic-list-item">
                <span class="topic-list-icon">
                    <img src="~/Content/Images/Support/icon_iphone.png">
                </span>
                <span class="topic-list-topic">
                    <h3>iPhone App</h3>
                    <p>Using the Artiscovery App to manage your artworks and portfolio.     </p>
                </span>
                <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>

                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_limited.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Artiscovery Prints</h3>
                        <p>Read here for an understanding of the various options to print your beautiful artworks.</p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_legal.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Legal</h3>
                        <p>Understanding and abiding by Artiscovery's Terms of Service.</p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
                <a href="https://Artiscovery.com/support" class="topic-list-item">
                    <span class="topic-list-icon">
                        <img src="~/Content/Images/Support/icon_checklist.png">
                    </span>
                    <span class="topic-list-topic">
                        <h3>Seller's Checklist</h3>
                        <p>Wondering what to do next after making a sale? Celebrate. Then follow this straightforward guide. </p>
                    </span>
                    <img src="~/Content/Images/Support/icon_chevron_right.png">
                </a>
            </div>
            <!--END TOPIC LIST -->
            <div class="footer-nav">
                <a href="https://Artiscovery.com/support/buyers">Buyer's FAQ</a>
                <span></span>
                <a href="https://www.Artiscovery.com/">Home</a>
                <span></span>
                <a href="https://eyes.Artiscovery.com/">Eyes Blog</a>
                <span></span>
                <a href="https://www.Artiscovery.com/whysell">Why Sell</a>
            </div>
        </div>
    </section>
</main>
