
@{
    ViewBag.Title = "requests";
}

@using reCaptcha
<style>
    .selectx {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.13);
        outline: none;
        padding: 10px;
        vertical-align: middle;
    }
</style>

<main role="main">
    <nav class="sub-nav clearfix">
        <ol class="breadcrumbs">
            <li title="Saatchi Art">
                <a href="/hc/en-us">Saatchi Art</a>
            </li>
            <li title="Submit a request">
                Submit a request
            </li>
        </ol>
    </nav>

    <div class="clearfix">
        <section class="main-column">
            <h1>Submit a request</h1>
            <div class="form">
                <form id="new_request" data-form="" class="request-form" action="/hc/en-us/requests" accept-charset="UTF-8" method="post">
                    <div class="form-field select optional request_ticket_form_id">
                        <label for="type">Please choose a request type below</label>
                        <select class="selectx" name="type" id="type">
                            <option data-url="https://support.saatchiart.com/hc/en-us/requests/new" value="-">-</option>
                            <option data-url="https://support.saatchiart.com/hc/en-us/requests/new?ticket_form_id=147488" selected="selected">I am an Artist and have a question</option>
                            <option data-url="https://support.saatchiart.com/hc/en-us/requests/new?ticket_form_id=147498">I am a Collector and have a question</option>
                            <option data-url="https://support.saatchiart.com/hc/en-us/requests/new?ticket_form_id=579407">Contact The Artist</option>
                            <option data-url="https://support.saatchiart.com/hc/en-us/requests/new?ticket_form_id=580367">Commission Request</option>
                        </select>
                    </div>

                    <div class="form-field string required request_anonymous_requester_email">
                        <label for="email">Your email address</label>
                        <input type="text" name="email" id="email" required>
                    </div>

                    <div class="form-field string  required  request_subject">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" id="subject" maxlength="150" size="150" required>
                    </div>

                    <div class="form-field text  required  request_description">
                        <label for="description">Please provide details of your request below.</label>
                        <textarea name="description" id="description" style="margin-top: 0px; margin-bottom: 0px; height: 98px;"></textarea>
                        <p>One of our curators will be in touch as soon as possible.</p>
                    </div>

                    <div class="form-field string  required  request_custom_fields_25932247">
                        <label for="question">Please select your question</label>
                        <select class="selectx" name="question" id="question">
                            <option>-</option>
                            <option selected="selected">I am an Artist and have a question</option>
                            <option>I am a Collector and have a question</option>
                            <option>Contact The Artist</option>
                            <option>Commission Request</option>
                        </select>
                    </div>

                    <div class="form-field string  required  request_custom_fields_25921668">
                        <label for="Name">Your Name</label>
                        <input type="text" name="Name" id="Name">
                    </div>

                    <div class="form-field string optional request_custom_fields_31926307">
                        <label for="URL">Profile URL</label>
                        <input type="text" name="URL" id="URL">
                    </div>

                    <div class="form-field string  required  request_custom_fields_25931907">
                        <label for="PhoneNumber">Phone Number</label>
                        <input type="number" name="PhoneNumber" id="PhoneNumber" step="1">
                        <p>Please only include numbers: XXXXXXXXXX</p>
                    </div>

                    <div class="form-field">
                        <label>Attachments</label>
                        <div id="upload-dropzone" class="upload-dropzone" data-hc-focus="false">
                            <input type="file" name="file">
                            <span>
                                <a>Add file</a> or drop files here
                            </span>
                        </div>

                    </div>

                    <div class="form-field required">
                        <label>Please verify that you are human</label>                        
                        @ReCaptcha.GetHtml(@ViewBag.publicKey)
                    </div>

                    <footer><input type="submit" name="commit" value="Submit"></footer>
                </form>


            </div>
        </section>

    </div>


</main>