
@{
    ViewBag.Title = "Search";
}

<main id="main" class="site-main col-lg-12" role="main">
    <article id="post-42550" class="post-42550 page type-page status-publish hentry">
        <div class="form-container">
            <form role="search" method="get" id="searchform" class="searchform" action="https://canvas.saatchiart.com/">
                <input type="text" value="" name="s" id="s" placeholder="Search">
                <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- .form-container -->

        <div class="popular-posts row home">
            <div class="col-lg-12">
                <h2>Popular Posts</h2>
            </div>
            <div class="popular-posts">

                <div class="col-lg-4 col-md-6">
                    <div class="post-element">
                        <div class="img-holder">
                            <a href="https://canvas.saatchiart.com/art/vermeers-love-for-cornflower-blue">
                                <img width="300" height="300" src="https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-300x300.jpg" class="attachment-saatchi-medium size-saatchi-medium wp-post-image" alt="" srcset="https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-300x300.jpg 300w, https://canvas.saatchiart.com/wp-content/uploads/2017/09/Meisje_met_de_parel-150x150.jpg 150w" sizes="(max-width: 300px) 100vw, 300px">
                            </a>
                        </div><!-- .img-holder -->

                        <h3><a href="https://canvas.saatchiart.com/category/culture/color-story">Color Story</a></h3>
                        <h4>
                            <a href="https://canvas.saatchiart.com/art/vermeers-love-for-cornflower-blue">
                                Vermeer’s Love for Cornflower Blue
                            </a>
                        </h4>
                        <p></p><p>Dutch painter Johannes Vermeer had a penchant for costly pigments, which came …</p>
                        <p></p>
                    </div><!-- .post-element -->
                </div><!-- .col-lg-4 -->

                <div class="append-post-container"></div>
            </div><!-- .popular-posts -->

        </div>

        <div class="row loader">
            <div class="col-lg-12">
                <a href="javascript:void(0);" class="load-more-btn" data-total="49">Load more</a>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 sign-up-big">
                <div class="post-element">
                    <div class="feedback-overlay"></div>
                    <div class="found-overlay">
                        <div>
                            <h2>Good news!</h2>
                            <p>You are already subscribed</p>
                        </div>
                    </div>
                    <div class="success-overlay">
                        <div>
                            <h2>Congratulations!</h2>
                            <p>You successfully signed up</p>
                        </div>
                    </div>

                    <h4>Sign up for our email list</h4>
                    <p>Find out about new art and collections added weekly</p>

                    <div class="content">
                        <div class="feedback">
                            <span></span>
                        </div>

                        <form action="" class="sign-up" novalidate="">
                            <input type="hidden" id="saatchi_wpnonce_field" name="saatchi_wpnonce_field" value="9487ed0198"><input type="hidden" name="_wp_http_referer" value="/search">                            <input type="hidden" name="source" value="blog-bottom" autocomplete="off">
                            <input type="text" id="honeypot" name="honeypot" placeholder="Leave this field blank" autocomplete="off">
                            <input type="email" name="email" placeholder="Email Address" autocomplete="off">
                            <button type="submit" class="signup-full">Sign up</button>
                        </form>
                    </div><!-- .content -->
                </div><!-- .post-element -->
            </div><!-- .col-lg-12 -->
        </div><!-- .row -->
    </article>
</main>