
@{
    ViewBag.Title = "Index";
}

<div class="page-title">
    <div class="title"> سرور ها</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">Image Servers</a>
        </li>
    </ol>
</div>


