
@{
    ViewBag.Title = "footers";
}

<div class="page-title">
    <div class="title"> پارامتر های صفحه اصلی</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">پارامتر های صفحه اصلی</a>
        </li>
    </ol>
</div>

<ul class="nav nav-tabs">
    <li>
        <a href="/FirstPageSettings/index"> هدر</a>
    </li>
    <li class="active">
        <a href="/FirstPageSettings/footers"> فوتر</a>
    </li>
    <li>
        <a href="/FirstPageSettings/parameters">مقادیر </a>
    </li>
</ul>

<div class="clearfix"></div>