
@{
    ViewBag.Title = "maincontent";
}


<div class="page-title">
    <div class="title">   صفحه اصلی</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">  صفحه اصلی</a>
        </li>
    </ol>
</div>

<ul class="nav nav-tabs">
    <li>
        <a href="/FirstPageSettings/Header"> هدر</a>
    </li>
    <li>
        <a href="/FirstPageSettings/slider"> اسلایدر</a>
    </li>
    <li class="active">
        <a href="/FirstPageSettings/maincontent">محتوا </a>
    </li>
    <li>
        <a href="/FirstPageSettings/footers">فوتر </a>
    </li>
</ul>

<div class="clearfix"></div>