
<footer id="footer" role="contentinfo">

    <div class="footer-container row">
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">For Buyers</li>
                <li><a data-gtm-event="nav footer" href="artadvisory.html" title="Art Advisory Services">Art Advisory Services</a></li>
                <li><a data-gtm-event="nav footer" href="https://support.saatchiart.com/hc/en-us/categories/200254317-For-Buyers" target="_parent">Buyer FAQ</a></li>
                <li><a data-gtm-event="nav footer" href="testimonials.html" target="_parent" title="">Testimonials</a></li>
                <li><a data-gtm-event="nav footer" href="loyalty.html" title="Curator’s Circle">Curator’s Circle</a></li>
                <li><a data-gtm-event="nav footer" href="catalog.html" title="Catalog">Catalog</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">For Artists</li>
                <li><a data-gtm-event="nav footer" href="whysell.html" target="_parent">Why Sell</a></li>
                <li><a data-gtm-event="nav footer" href="https://support.saatchiart.com/hc/en-us" target="_parent">Artist Handbook</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header"><a data-gtm-event="nav footer" href="about.html" target="_parent" title="About Us">About Us</a></li>
                <li><a data-gtm-event="nav footer" href="press.html" target="_parent" title="Press">Press</a></li>
                <li><a data-gtm-event="nav footer" href="https://www.leafgroup.com/job-openings/?p=search%3Fq%3Dsaatchi" target="_blank" title="Careers">Careers</a></li>
                <li><a data-gtm-event="nav footer" href="https://support.saatchiart.com/hc/requests/new" target="_parent" title="Contact Us">Contact Us</a></li>
                <li><a data-gtm-event="nav footer" href="http://canvas.saatchiart.com/" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">Saatchi Art</li>
                <li><a data-gtm-event="nav footer" href="terms.html" target="_parent" title="Terms of Service">Terms of Service</a></li>
                <li><a data-gtm-event="nav footer" href="privacy.html" target="_parent" title="Privacy Policy">Privacy Policy</a></li>
                <li><a data-gtm-event="nav footer" href="copyright.html" target="_parent" title="Copyright Policy">Copyright Policy</a></li>
                <li><a data-gtm-event="nav footer" href="https://signup.cj.com/member/brandedPublisherSignUp.do?air_refmerchantid=4023958" title="Affiliate Program" target="_blank">Affiliate Program</a></li>
                <!-- internationalization test flag that will enable the currency dropdown -->
            </ul>
        </div>

        <div class="clear"></div>
        <hr>
        <div class="row">
            <div class="medium-6 medium-push-6 columns">
                <div id="footerSubscribe">
                    <h2>Sign up for our newsletter</h2>
                    <div>Discover new art and collections added weekly</div>
                    <form id="so-sign-up-form" class="footer-newsletter-subscribe" onsubmit="Saatchi.Subscribe.simpleFooterSubmit($(this)); return false;">
                        <div class="enter-email">
                            <input type="hidden" name="version" value="1">
                            <input type="hidden" name="account_type" value="collector">
                            <input type="hidden" name="user_type_id" value="1">
                            <input type="text" name="email" id="so-subscribe-email" value="" class="text" autocomplete="off" placeholder="Email Address">
                            <input id="so-subscribe-submit" type="submit" name="subscribe" value="Sign up" class="button btn-info dark">
                        </div>
                    </form>
                </div>
                <div id="footerSubscribeThanks" class="thank-you hide">
                    <h2>Thank you for signing up!</h2>
                </div>
                <script type="text/javascript">
                        Saatchi.Loader.load('subscribe', { 'js': true }, function () {
                            // Saatchi.Subscribe.simpleFooterSubmit();
                        });
                </script>
            </div>
            <div class="medium-6 medium-pull-6 columns">
                <div class="footer-icons">
                    <ul class="social-follow inline-list">
                        <li><a data-gtm-event="nav footer" href="http://www.facebook.com/saatchionline" target="_blank" title="Facebook"><i class="fa fa-facebook btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://www.twitter.com/saatchiart" target="_blank" title="Twitter"><i class="fa fa-twitter btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://pinterest.com/saatchiart" target="_blank" title="Pinterest"><i class="fa fa-pinterest btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://blog.saatchiart.com/" target="_blank" title="Tumblr"><i class="fa fa-tumblr btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://instagram.com/saatchiart" target="_blank" title="Instagram"><i class="fa fa-instagram btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="https://plus.google.com/+saatchiart" rel="publisher" target="_blank" title="Google Plus"><i class="fa fa-google-plus btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="https://www.youtube.com/channel/UCqfUz6UyK4kKVsnTyPoWZJw" rel="publisher" target="_blank" title="YouTube"><i class="fa fa-youtube btn-round"></i></a></li>
                    </ul>
                   
                    <div class="clear"></div>
                    <div class="left logo-Demand-Media">
                        <a data-gtm-event="nav footer" href="http://leafgroup.com/" title="Driven by Leaf Group" target="_blank">
                            <img alt="Driven by leaf group" src="~/Content/Images/leaf.png" />
                        </a>
                    </div>
                    <div class="logo-Saatchi-Art left">
                        <a data-gtm-event="nav footer" href="javascript:void(0);" title="Ariana Art">&copy; 2017 Ariana Art. All rights reserved.</a>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="55d204270000ff0005823f83" data-style-height="20px" data-style-width="100%" data-theme="light"> <a data-gtm-event="nav footer" href="https://www.trustpilot.com/review/saatchiart.com" target="_blank"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
           
    </script>
</footer>