
<style>
    @@media screen and (min-width: 48rem) {
        .footer-icons {
            border-left: 1px solid #e9e9e9;
            border-right: none;
        }
    }

    .footer-icons {
        padding-top: 30px;
    }

    .logo-Saatchi-Art {
        margin: 0px;
    }
</style>

<footer id="footer" role="contentinfo">

    <div class="footer-container row">
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">For Buyers</li>
                <li><a data-gtm-event="nav footer" href="" title="Art Advisory Services">Art Advisory Services</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent">Buyer FAQ</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent" title="">Testimonials</a></li>
                <li><a data-gtm-event="nav footer" href="" title="Curator’s Circle">Curator’s Circle</a></li>
                <li><a data-gtm-event="nav footer" href="" title="Catalog">Catalog</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">For Artists</li>
                <li><a data-gtm-event="nav footer" href="" target="_parent">Why Sell</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent">Artist Handbook</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header"><a data-gtm-event="nav footer" href="about.html" target="_parent" title="About Us">About Us</a></li>
                <li><a data-gtm-event="nav footer" href="press.html" target="_parent" title="Press">Press</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_blank" title="Careers">Careers</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent" title="Contact Us">Contact Us</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="large-3 medium-3 small-6 columns">
            <ul>
                <li class="header">Artiscovery Art</li>
                <li><a data-gtm-event="nav footer" href="" target="_parent" title="Terms of Service">Terms of Service</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent" title="Privacy Policy">Privacy Policy</a></li>
                <li><a data-gtm-event="nav footer" href="" target="_parent" title="Copyright Policy">Copyright Policy</a></li>
                <li><a data-gtm-event="nav footer" href="" title="Affiliate Program" target="_blank">Affiliate Program</a></li>
                <!-- internationalization test flag that will enable the currency dropdown -->
            </ul>
        </div>

        <div class="clear"></div>
        <hr>
        <div class="row">
            <div class="medium-6 columns">
                <div id="footerSubscribe">
                    <h2>Sign up for our newsletter</h2>
                    <div>Discover new art and collections added weekly</div>
                    <form id="so-sign-up-form" class="footer-newsletter-subscribe" onsubmit="Saatchi.Subscribe.simpleFooterSubmit($(this)); return false;">
                        <div class="enter-email">
                            <input type="hidden" name="version" value="1">
                            <input type="hidden" name="account_type" value="collector">
                            <input type="hidden" name="user_type_id" value="1">
                            <input type="text" name="email" id="so-subscribe-email" value="" class="text" autocomplete="off" placeholder="Email Address">
                            <input id="so-subscribe-submit" type="submit" name="subscribe" value="Sign up" class="button btn-info dark">
                        </div>
                    </form>
                </div>
                <div id="footerSubscribeThanks" class="thank-you hide">
                    <h2>Thank you for signing up!</h2>
                </div>
                <script type="text/javascript">
                    Saatchi.Loader.load('subscribe', { 'js': true }, function () {
                    });
                </script>
            </div>
            <div class="medium-6 columns">
                <div class="footer-icons">
                    <ul class="social-follow inline-list">
                        <li><a data-gtm-event="nav footer" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://pinterest.com/" target="_blank" title="Pinterest"><i class="fa fa-pinterest btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="" target="_blank" title="Tumblr"><i class="fa fa-tumblr btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="http://instagram.com/" target="_blank" title="Instagram"><i class="fa fa-instagram btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="https://plus.google.com/" rel="publisher" target="_blank" title="Google Plus"><i class="fa fa-google-plus btn-round"></i></a></li>
                        <li><a data-gtm-event="nav footer" href="https://www.youtube.com/" rel="publisher" target="_blank" title="YouTube"><i class="fa fa-youtube btn-round"></i></a></li>
                    </ul>

                    <div class="clear"></div>
                    <div class="logo-Saatchi-Art">
                        <a data-gtm-event="nav footer" style="background:none" href="javascript:void(0);" title="Ariana Art">&copy; 2017 Ariana Art. All rights reserved.</a>
                        <div class="trustpilot-widget" data-style-height="20px" data-style-width="100%" data-theme="light">
                            <a data-gtm-event="nav footer" href="" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
</footer>