@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }

    <div class="desktop-navigation__authentication-links">
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="" title="Sign In">@User.Identity.GetUserName() </a>
        </div>
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="javascript:document.getElementById('logoutForm').submit()" title="Register">Log off</a>
        </div>
    </div>
}
else
{
    <div class="desktop-navigation__authentication-links">
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="/account/login" title="Sign In">Sign In</a>
        </div>
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="/account/register" title="Register">Register</a>
        </div>
    </div>
}
