@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()


    }

    <div class="desktop-navigation__account-nav">
        <div class="desktop-navigation__account-nav__header">
            @ViewBag.fullName
        </div>

        <div class="desktop-navigation__account-nav__dropdown">
            <a data-gtm-event="nav header" href="/profile" title="Profile">Profile</a>
            <a data-gtm-event="nav header" href="/accountInfo/index" title="Account Information">Account Information</a>
            <a data-gtm-event="nav header" href="/profile/favorites" title="Favorites">Favorites</a>
            <a data-gtm-event="nav header" href="/profile/collection" title="Collections">Collections</a>
            <a data-gtm-event="nav header" href="/accounts/orders" title="Orders">Orders</a>
            <a data-gtm-event="nav header" href="/upload/index" title="Upload">Upload</a>
            <a data-gtm-event="nav header" href="/profile/artworks" title="Artworks">Artworks</a>
            <a data-gtm-event="nav header" href="/accounts/items" title="Sales Dashboard">Sales Dashboard</a>
            <a data-gtm-event="nav header" href="javascript:document.getElementById('logoutForm').submit()" title="Logout">Logout</a>
        </div>

        @*<div class="desktop-navigation__authentication-links__item">
                <a data-gtm-event="nav header" href="javascript:document.getElementById('logoutForm').submit()" title="Register">Log off</a>
            </div>*@
    </div>
}
else
{
    <div class="desktop-navigation__authentication-links">
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="/account/login" title="Sign In">Sign In</a>
        </div>
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="/account/register" title="Register">Register</a>
        </div>
    </div>
}
