
<!-- Browse Art for Sale by Price  -->
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 class="section-title mb1">Browse Art for Sale by Price</h2>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-8 columns browse-item-large"
          style="background-image: url('/Content/Images/660x300.jpg')">
        <a href="alld0c9.html?price=0-500" class="flexcontainer">
            <!-- internationalization test -->
            <div>
                <em>Artworks up to</em>
                $500
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="all5a36.html?price=500-1000" class="flexcontainer">
            <!-- internationalization test -->
            <div>
                <em>Artworks</em>
                $500 &mdash; $1000
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="all6d74.html?price=1000-2000" class="flexcontainer">
            <!-- internationalization test -->
            <div>
                <em>Artworks</em>
                $1000 &mdash; $2000
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
          style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="all8c86.html?price=2000-5000" class="flexcontainer">
            <!-- internationalization test -->
            <div>
                <em>Artworks</em>
                $2000 &mdash; $5000
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
          style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="all606b.html?price=5000-10000" class="flexcontainer">
            <!-- internationalization test -->
            <div>
                <em>Artworks</em>
                $5000 &mdash; $10000
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>