@model FirstPageSection
  <!-- Browse Art for Sale by Style  -->
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 class="section-title mb1">Browse Art for Sale by Style</h2>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Painting-Collage-Printmaking/Geometric-Abstracts/685448/130245/view.html" class="flexcontainer">
            <div>
                <em>All About Abstract</em>
                New Geometric Works
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-8 columns browse-item-large"
         style="background-image: url('/Content/Images/660x300.jpg')">
        <a href="art-collection/Painting-Photography-Drawing/Barely-There-New-Nudes/685448/127861/view.html" class="flexcontainer">
            <div>
                <em>The Contemporary Nude</em>
                New Figurative Art
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Painting-Photography-Collage/Surrealism/722504/130098/view.html" class="flexcontainer">
            <div>
                <em>Suddenly Surreal</em>
                Contemporary Takes on Surrealism
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Painting-Drawing/New-Abstract-Expressionism/685448/130257/view.html" class="flexcontainer">
            <div>
                <em>Inspired by Hans Hofmann</em>
                New Abstract Expressionism
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Painting-Printmaking-Collage/Pop-Art/722504/120783/view.html" class="flexcontainer">
            <div>
                <em>Inspired by Warhol</em>
                New Pop Art
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<!-- / Browse Art for Sale by Style  -->

