    <!-- Browse Art for Sale by Category  -->
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 class="section-title mb1">Browse Art for Sale by Category</h2>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-8 columns browse-item-large"
          style="background-image: url('/Content/Images/660x300.jpg')">
        <a href="/search/1" class="flexcontainer">
            <div>
                <em>Different Strokes</em>
                Contemporary Paintings
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="/search/1" class="flexcontainer">
            <div>
                <em>A Fine Line</em>
                Contemporary Drawings
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<!-- / Browse Art for Sale by Category  -->
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="/search/1" class="flexcontainer">
            <div>
                <em>New Shoots</em>
                Contemporary
                Photography
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
           style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="/search/1" class="flexcontainer">
            <div>
                <em>New On the Block</em>
                Contemporary
                Sculpture
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
           style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="/search/1" class="flexcontainer">
            <div>
                <em>Paper Goods</em>
                Contemporary
                Collage
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>