    <!-- Browse Art for Sale by Category  -->
<div class="row browse-by">
    <div class="small-12 columns">
        <h2 class="section-title mb1">Browse Art for Sale by Category</h2>
    </div>
</div>
<div class="row browse-by">
    <div class="small-12 medium-8 columns browse-item-large"
          style="background-image: url('/Content/Images/660x300.jpg')">
        <a href="art-collection/Painting/New-Painting/722504/132960/view.html" class="flexcontainer">
            <div>
                <em>Different Strokes</em>
                Contemporary Paintings
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Drawing-Painting/New-Drawings/722504/132959/view.html" class="flexcontainer">
            <div>
                <em>A Fine Line</em>
                Contemporary Drawings
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<!-- / Browse Art for Sale by Category  -->
<div class="row browse-by">
    <div class="small-12 medium-4 columns browse-item"
         style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Photography/Photography/685448/130494/view.html" class="flexcontainer">
            <div>
                <em>New Shoots</em>
                Contemporary
                Photography
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
           style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Sculpture/Sculpture/685448/130512/view.html" class="flexcontainer">
            <div>
                <em>New On the Block</em>
                Contemporary
                Sculpture
            </div>
            <button>View Artworks</button>
        </a>
    </div>
    <div class="small-12 medium-4 columns browse-item"
           style="background-image: url('/Content/Images/300x300.jpg')">
        <a href="art-collection/Collage/Collage/722504/132957/view.html" class="flexcontainer">
            <div>
                <em>Paper Goods</em>
                Contemporary
                Collage
            </div>
            <button>View Artworks</button>
        </a>
    </div>
</div>
<div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="55d204270000ff0005823f83" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="5">
    <a href="https://www.trustpilot.com/review/saatchiart.com" target="_blank">Trustpilot</a>
</div>